<!DOCTYPE html>
<html>
<head>
  <title>Stagehand</title>
  <%= stylesheet_link_tag    "stagehand/application", media: "all" %>
  <%= javascript_include_tag "stagehand/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
